@import '../../../../Assets/Styles/variables.scss';
@import '../../../../Assets/Styles/mixins.scss';

.post {
	@include clearfix();
	border: 2px solid $primary-color;
	padding: 20px;
	margin-bottom: 40px;

	h2 {
		margin-top: 10px;
	}

	p {
		@include font(16px, 1.3);
	}

	&-more {
		float: right;
	}
	
}