@import '../../Assets/Styles/variables.scss';

.intro-wrapper {
	background-color: $secondary_color;
	padding: 90px 20px;
	text-align: center;

	h1 {
		max-width: 760px;
		display: inline-block;
		margin: auto;
		text-align: center;
		padding: 0px 20px;
		color: $primary-color;
	}
	
}

@media screen and (max-width: 430px) {
	.intro-wrapper {
		padding: 40px 20px;
	}
}