body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 0 0 40px 0;
  margin: 0; }

.wrapper {
  max-width: 940px;
  width: 100%;
  margin: auto;
  padding: 80px 0px 40px 0px; }

a {
  color: #ef3f42;
  text-decoration: none; }
  a:hover, a:focus, a:active {
    color: #f36e70; }

p {
  line-height: 1.6; }

.page-link {
  margin-bottom: 10px;
  display: inline-block; }

.button {
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: white;
  background-color: #ef3f42;
  padding: 5px 8px;
  display: inline-block;
  margin: 0 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid #ef3f42; }
  .button.inactive {
    color: #ef3f42;
    background-color: #f9f7f7;
    border: 2px solid #ef3f42; }
    .button.inactive:hover, .button.inactive:active, .button.inactive:focus {
      color: #ef3f42;
      background-color: #f9f7f7; }
  .button.hidden {
    display: none; }
  .button:hover, .button:active, .button:focus {
    color: white;
    background-color: #f36e70;
    border-color: #f36e70; }

.animated-link {
  text-decoration: none;
  color: #ef3f42;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
  padding: 5px 10px; }
  .animated-link span {
    position: relative;
    z-index: 2; }
  .animated-link:before {
    position: absolute;
    width: 0;
    height: auto;
    background-color: #ef3f42;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    transition: all 0.3s ease;
    z-index: 1;
    content: ''; }
  .animated-link:hover, .animated-link:active, .animated-link:focus {
    color: white; }
    .animated-link:hover:before, .animated-link:active:before, .animated-link:focus:before {
      right: 0;
      width: 100%; }
